In [1]:
# Note
# Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load 
file_to_load =  os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Assure uniqueness before totaling the number of players
unique_players = purchase_data["SN"].unique()

# Identify the total count of unique players
unique_players_count = pd.DataFrame(unique_players).count()

# Place the total information into a dictionary with the appropriate column header
unique_players_dict = [{"Total Players": unique_players_count}]

#Load the dictionary into a DataFrame and print out the result of the requested values
unique_players_df = pd.DataFrame(unique_players_dict[0])
unique_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Identify the number of unique items purchased.
unique_items = len(purchase_data["Item Name"].unique())

In [5]:
# Identify the average price of the items in the file
average_price = purchase_data["Price"].mean()

In [6]:
# Identify the total number of purchases
number_of_purchases = purchase_data["Purchase ID"].count()

In [7]:
# identify the total sales
total_sales = purchase_data["Price"].sum()

In [8]:
summary_data = pd.DataFrame({"Number of Unique Items": [unique_items],
                             "Average Price": [average_price],
                             "Number of Purchases": [number_of_purchases],
                             "Total Revenue": [total_sales]
                            })

# Format
summary_data["Average Price"] = summary_data["Average Price"].map("${:.2f}".format)
summary_data["Total Revenue"] = summary_data["Total Revenue"].map("${:.2f}".format)   
    
summary_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# pull "SN" and "Gender" from the input file and put into a series.
all_genders = purchase_data.loc[ :, [ "SN" , "Gender"]]
all_genders.value_counts().drop_duplicates

<bound method Series.drop_duplicates of SN            Gender
Lisosia93     Male      5
Iral74        Male      4
Idastidru52   Male      4
Aina42        Male      3
Iri67         Male      3
                       ..
Lisossala30   Male      1
Lisossanya98  Male      1
Lisotesta51   Female    1
Lisovynya38   Male      1
Adairialis76  Male      1
Length: 576, dtype: int64>

In [10]:
all_genders.value_counts().drop_duplicates

<bound method Series.drop_duplicates of SN            Gender
Lisosia93     Male      5
Iral74        Male      4
Idastidru52   Male      4
Aina42        Male      3
Iri67         Male      3
                       ..
Lisossala30   Male      1
Lisossanya98  Male      1
Lisotesta51   Female    1
Lisovynya38   Male      1
Adairialis76  Male      1
Length: 576, dtype: int64>

In [11]:
##### 
##### Not sure what the keys [are for the above series creating an issue for how to convert to a DataFrame
##### How to pull the the different genders out of the above.
#####    (I know the dictionary is not correct)



unique_genders_dict = ({ "Gender": SN, Gender})
unique_genders_df = pd.DataFrame(unique_genders_dict)
unique_genders_df

SyntaxError: invalid syntax (<ipython-input-11-5fbd9e6a5733>, line 8)

# Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#### - I think this is based on information from the previous step?
####
####

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# calculate the min and max values for the age range
min_age = purchase_data["Age"].min()
max_age = purchase_data["Age"].max()

In [13]:
# Create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [14]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data["Age Ranges"].value_counts

<bound method IndexOpsMixin.value_counts of 0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Ranges, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']>

In [17]:
grouped_by_age_df["Age Ranges"].value_counts()

Age Ranges  Age Ranges
<10         <10            23
10-14       10-14          28
15-19       15-19         136
20-24       20-24         365
25-29       25-29         101
30-34       30-34          73
35-39       35-39          41
40+         40+            13
Name: Age Ranges, dtype: int64

In [18]:
 grouped_by_age_df["Gender"].value_counts()

Age Ranges  Gender
<10         Male                      18
            Female                     5
10-14       Male                      25
            Female                     3
15-19       Male                     108
            Female                    24
            Other / Non-Disclosed      4
20-24       Male                     304
            Female                    56
            Other / Non-Disclosed      5
25-29       Male                      85
            Female                    14
            Other / Non-Disclosed      2
30-34       Male                      66
            Female                     7
35-39       Male                      34
            Other / Non-Disclosed      4
            Female                     3
40+         Male                      12
            Female                     1
Name: Gender, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# calculate the min and max values for the age range
min_age1 = purchase_data["Age"].min()
max_age1 = purchase_data["Age"].max()

In [ ]:
# Create bins
bins1 = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels1 = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
purchase_count =

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame