### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math and reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools using  
num_of_schools = school_data["school_name"].count()

In [3]:
# Calculate the total number of student
total_student_count = student_data["student_name"].count()

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()

In [5]:
# Calculate the average math score using .mean
average_math_score = student_data["math_score"].mean()

In [6]:
# Calculate the average math score using .mean
average_reading_score = student_data["reading_score"].mean()

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_score_ge_70 = student_data.loc[(student_data["math_score"] >= 70) , :]
percent_passing_math = (math_score_ge_70["math_score"].count() / total_student_count) * 100

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_score_ge_70 = student_data.loc[(student_data["reading_score"] >= 70) , :]
percent_passing_reading = (reading_score_ge_70["reading_score"].count() / total_student_count) * 100

In [9]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)    

combined_math_and_reading = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)  , :]
percent_passing_math_and_reading = (combined_math_and_reading["Student ID"].count() / total_student_count) * 100

In [10]:
# Create a dataframe to hold the above results                                  

district_summary = pd.DataFrame({"Total Schools" : [num_of_schools],
                                 "Total Students": [total_student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [percent_passing_math],
                                 "% Passing Reading": [percent_passing_reading],
                                 "% Overall Passing": [percent_passing_math_and_reading]
                                })

# Format output dislay
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)   
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
   
* Create a dataframe to hold the above results

In [11]:
# Group the DataFrame by school
grouped_df = school_data_complete.groupby(["school_name"])
school_count = grouped_df["Student ID"].count()

In [12]:
# identify the "school type" for each of the schools      
school_type = grouped_df["type"].unique()

In [13]:
# Determine the total number of students for each school
total_students = grouped_df["Student ID"].count()

In [14]:
# Determine the school budget for each school
school_budget = grouped_df["budget"].mean()

In [15]:
# Determine the budget per student for each school
per_student_budget = school_budget / total_students
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Determine the average math score for each school
average_math_score = grouped_df["math_score"].mean()
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
# Determine the average reading score for each school
average_reading_score = grouped_df["reading_score"].mean()

In [18]:
# Determine the % passing math for each school
math_score_ge_70_count = math_score_ge_70.groupby(["school_name"])["Student ID"].count()
passing_math_score_percent = (math_score_ge_70_count / total_students) * 100

In [19]:
# Determine the % passing reading for each school
reading_score_ge_70_count = reading_score_ge_70.groupby(["school_name"])["Student ID"].count()
passing_reading_score_percent = (reading_score_ge_70_count / total_students) * 100

In [20]:
# Determine the % Overall Passing (% of students that passed math and reading) for each school
math_and_reading_score_ge_70 = combined_math_and_reading.groupby(["school_name"])["Student ID"].count()
percent_overall_passing = (math_and_reading_score_ge_70 / total_students) * 100

In [46]:
school_summary =  {"School Type": school_type, 
                       "Total Students":total_students,
                       "Total School Budget": school_budget,
                       "Per Student Budget": per_student_budget,
                       "Average Math Score": average_math_score,
                       "Average Reading Score": average_reading_score,
                       "% Passing Math Score": passing_math_score_percent,
                       "% Passing Reading Score": passing_reading_score_percent, 
                       "% Overall Passing": percent_overall_passing  
                      }
school_summaryone_df = pd.DataFrame(school_summary)
school_summaryone_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [21]:
school_summary_dict = {"School Type": school_type, 
                       "Total Students":total_students,
                      "Total School Budget": school_budget.map("${:,.2f}".format),
                       "Per Student Budget": per_student_budget.map("${:,.2f}".format),
                       "Average Math Score": average_math_score.map("{:,.6f}".format),
                       "Average Reading Score": average_reading_score.map("{:,.6f}".format),
                       "% Passing Math Score": passing_math_score_percent.map("{:,.6f}".format),
                       "% Passing Reading Score": passing_reading_score_percent.map("{:,.6f}".format), 
                       "% Overall Passing": percent_overall_passing.map("{:,.6f}".format)  
                      }

school_summary_df = pd.DataFrame(school_summary_dict)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [22]:
sort_by_percent_overall_passing = school_summary_df.sort_values("% Overall Passing", ascending=False)
sort_by_percent_overall_passing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [23]:
sort_by_percent_overall_passing = school_summary_df.sort_values("% Overall Passing", ascending=True)
sort_by_percent_overall_passing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
# For each school, determine the average math scores for grade 9
ninth_grade_math_students = student_data.loc[(student_data["grade"] == "9th")]
ninth_grade_math_student_count = ninth_grade_math_students.groupby(["school_name"])["grade"].count()
ninth_grade_math_average = ninth_grade_math_students.groupby(["school_name"])["math_score"].mean()
ninth_grade_math_average

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [25]:
# For each school, determine the average math scores for grade 10
tenth_grade_math_students = student_data.loc[(student_data["grade"] == "10th")]
tenth_grade_math_student_count = tenth_grade_math_students.groupby(["school_name"])["grade"].count()
tenth_grade_math_average = tenth_grade_math_students.groupby(["school_name"])["math_score"].mean()
tenth_grade_math_average

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [26]:
# For each school, determine the average math scores for grade 11
eleventh_grade_math_students = student_data.loc[(student_data["grade"] == "11th")]
eleventh_grade_math_student_count = eleventh_grade_math_students.groupby(["school_name"])["grade"].count()
eleventh_grade_math_average = eleventh_grade_math_students.groupby(["school_name"])["math_score"].mean()
eleventh_grade_math_average

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [27]:
# For each school, determine the average math scores for grade 12
twelveth_grade_math_students = student_data.loc[(student_data["grade"] == "12th")]
twelveth_grade_math_student_count = twelveth_grade_math_students.groupby(["school_name"])["grade"].count()
twelveth_grade_math_average = twelveth_grade_math_students.groupby(["school_name"])["math_score"].mean()
twelveth_grade_math_average

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [28]:
math_scores_by_grade_dict = {"9th":  ninth_grade_math_average.map("{:,.6f}".format),
                             "10th": tenth_grade_math_average.map("{:,.6f}".format),
                             "11th": eleventh_grade_math_average.map("{:,.6f}".format),
                             "12th": twelveth_grade_math_average.map("{:,.6f}".format)
                            } 
math_scores_by_grade_df = pd.DataFrame(math_scores_by_grade_dict) 
math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
# For each school, determine the average reading scores for grade 9
ninth_grade_reading_students = student_data.loc[(student_data["grade"] == "9th")]
ninth_grade_reading_student_count = ninth_grade_reading_students.groupby(["school_name"])["grade"].count()
ninth_grade_reading_average = ninth_grade_reading_students.groupby(["school_name"])["reading_score"].mean()
ninth_grade_reading_average

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [30]:
# For each school, determine the average reading scores for grade 10
tenth_grade_reading_students = student_data.loc[(student_data["grade"] == "10th")]
tenth_grade_reading_student_count = tenth_grade_reading_students.groupby(["school_name"])["grade"].count()
tenth_grade_reading_average = tenth_grade_reading_students.groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading_average

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [31]:
# For each school, determine the average reading scores for grade 11
eleventh_grade_reading_students = student_data.loc[(student_data["grade"] == "11th")]
eleventh_grade_reading_student_count = eleventh_grade_reading_students.groupby(["school_name"])["grade"].count()
eleventh_grade_reading_average = eleventh_grade_reading_students.groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading_average

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [32]:
# For each school, determine the average reading scores for grade 12
twelveth_grade_reading_students = student_data.loc[(student_data["grade"] == "12th")]
twelveth_grade_reading_student_count = twelveth_grade_reading_students.groupby(["school_name"])["grade"].count()
twelveth_grade_reading_average = twelveth_grade_reading_students.groupby(["school_name"])["reading_score"].mean()
twelveth_grade_reading_average

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [33]:
reading_scores_by_grade_average_dict = {"9th":  ninth_grade_reading_average.map("{:,.6f}".format),
                                        "10th": tenth_grade_reading_average.map("{:,.6f}".format),
                                        "11th": eleventh_grade_reading_average.map("{:,.6f}".format),
                                        "12th": twelveth_grade_reading_average.map("{:,.6f}".format)
                                       } 
reading_scores_by_grade_average_df = pd.DataFrame(reading_scores_by_grade_average_dict) 
reading_scores_by_grade_average_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [47]:
# Create bins
#bins = [0, 584, 630, 645, 680]

# Create split ranges
#group_labels = ["<$585", "$585-630", "630-645", "645-680"] 

bins = [0, 583, 628, 643, 674]

group_labels = ["$0-584","$585-629","$630-644","$645-675"]

In [48]:
school_summaryone_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.0,77.048432,81.033963,66.680064,81.93328,54.642283

In [49]:
spending_school = school_summaryone_df[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math Score","% Passing Reading Score","% Overall Passing"]]
spending_school.head(1)

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math Score,% Passing Reading Score,% Overall Passing
school_name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.680064,81.93328,54.642283

In [41]:
#average_math_score
#df["Average Math Score"] = pd.cut(df["average_math_score", bins, group_labels])
spending_school["Spending Ranges(Per Student)"] = pd.cut(spending_school["Per Student Budget"], bins, labels=group_labels, include_lowest=True)

TypeError: '<' not supported between instances of 'int' and 'str'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
 # Create bins
bins1 = [0, 1000, 2000, 5000]
group_labels1 = ["Small", "Medium", "Large"]

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# Create bins
bins1 = [0, 999, 2000, 5000]
group_labels1 = ["Charter", "District"]