### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)

school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [10]:
# Calculate the total number of schools                                            ** IS there where I am supposed to do mean?
num_of_schools = school_data["school_name"].count()
num_of_schools

15

In [4]:
# Calculate the total number of students
total_student_count = student_data["student_name"].count()
total_student_count

39170

In [5]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Calculate the average math score
average_math_score = student_data["math_score"].sum()  / total_student_count              
average_math_score

78.98537145774827

In [7]:
# Calculate the av()erage reading score
average_reading_score = student_data["reading_score"].sum()  / total_student_count
average_reading_score

81.87784018381414

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_score_ge_70 = student_data.loc[(student_data["math_score"] > 70) | (student_data["math_score"] == 70), :]
math_score_ge_70.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [12]:
                                                                                              ##### how to get a single value?
##### I arrived at the correct value but not the way I envisioned it                          ##### Why does it look like this>
#####

percent_passing_math = (math_score_ge_70.count() / total_student_count) * 100
percent_passing_math

Student ID       74.980853
student_name     74.980853
gender           74.980853
grade            74.980853
school_name      74.980853
reading_score    74.980853
math_score       74.980853
dtype: float64

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)               ##### Similar to above

In [ ]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)            ##### Similar to above

In [ ]:
# Create a dataframe to hold the above results                                 ***** HOw to put headings on multiple lines

district_summary = pd.DataFrame({"Total Schools": [num_of_schools],
                                 "Total Students": [total_student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [""],
                                 "% Passing Reading": [""],
                                 "% Overal Passing": [""]
                                })

# Format outpu dislay
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)   
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

# School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
#create an overview tablem                                                                  #### Create and Overview table ?
school_data_complete.unique*()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [ ]:
Student ID	student_name	gender	grade	school_name	reading_score	math_score	School ID	type	size	budget

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Create bins
bins = [0, 584, 630, 645, 680]
group_labels = ["<$585", "$585-630", "630-645", "645-680"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
 # Create bins
bins1 = [0, 999, 2000, 5000]
group_labels1 = ["Small", "Medium", "Large"]

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
# Create bins
bins1 = [0, 999, 2000, 5000]
group_labels1 = ["Charter", "District"]